{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Editer d'une categories</h1>
    <div class="d-flex justify-content">
        {{ form(f) }}
    </div>
{% endblock %}
