{% extends 'base.html.twig' %}
{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Ajout d'un livre</h1>
    <div class="d-flex justify-content">
        {{ form(f) }}
    </div>
{% endblock %}